<h4 style="color: #2bb3cc">Trabalhando com arquivos CSV</h4>

- CSV - **C**omma **S**eparated **V**alues (valores separados por vírgula)
- podemos utilizar o módulo CSV para trabalhar com esse tipo de arquivo
    - retorna um objeto _csv.reader

In [1]:
with open('dados.csv') as arquivo:
    print(arquivo.read())

josé;30
gabriel;25
lucas;15
ana;45
maria;60
victor;70

In [6]:
import csv

with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo, delimiter=';')
    for dado in arquivo_csv:
        print(f'Nome: {dado[0]} - Idade: {dado[1]}')

Nome: josé - Idade: 30
Nome: gabriel - Idade: 25
Nome: lucas - Idade: 15
Nome: ana - Idade: 45
Nome: maria - Idade: 60
Nome: victor - Idade: 70

<h4 style="color: #2bb3cc">Trabalhando com arquivos JSON</h4>

- JSON - **J**ava**S**cript **O**bject **N**otation
- formato padrão para troca de mensagens entre sistemas web
- muito utilizados em bancos de dados não relacionais
- podemos utilizar o módulo JSON para trabalhar com esse tipo de arquivo
    - retorna uma lista

In [11]:
import json

with open('dados.json', 'r') as arquivo:
    arquivo_json = json.load(arquivo)
    for dado in arquivo_json:
        print(f"Nome: {dado['nome']} - Idade: {dado['idade']}")

Nome: José - Idade: 25
Nome: Maria - Idade: 19
Nome: Gabriel - Idade: 21
Nome: Lucas - Idade: 16

<h4 style="color: #2bb3cc">Apresentando o Pandas</h4>

- Biblioteca mais popular para tratamento e análise de dados
- consegue trabalhar facilmente com vários formatos de arquivos (CSV, JSON, XLSX....)
- vamos trabalhar MUITO com a biblioteca Pandas ao longo da nossa Formação!

In [12]:
import pandas as pd

<h4 style="color: #2bb3cc">Método <code>read_csv()</code></h4>

- Lê arquivos no formato CSV 
- Coloca os dados em um formato tabular chamadado DataFrame

In [28]:
arquivo = pd.read_csv('dados.csv', delimiter=';', names=['nome', 'idade'])

In [29]:
arquivo

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

<h4 style="color: #2bb3cc">Método <code>read_json()</code></h4>

- Lê arquivos no formato JSON 
- Coloca os dados em um formato tabular chamadado DataFrame

In [30]:
arquivo = pd.read_json('dados.json')

In [31]:
arquivo

      nome  idade
0     José     25
1    Maria     19
2  Gabriel     21
3    Lucas     16

<h4 style="color: #2bb3cc">Salvando um arquivo com o Pandas</code></h4>

In [32]:
arquivo.to_csv('dados_json_em_csv.csv', index=False)